<!doctype html>
<html lang="pt-BR">

<head>
  <title>Bootstrap</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
  <header>
    <div class="container border">
        <div class="row">
          <div class="col-4">
            <button type="button" class="btn btn-outline-primary">Primeira Coluna</button>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-outline-secondary">Segunda Coluna</button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-outline-success">Successo</button>
          </div>
        </div>
      </div>
  </header>
  <main>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
</body>

</html>